// colors
$dark-color: #00008B;
$bg-dark: #E0E0E0;
$bg-light: #F2F2F2;
$accent-color: #6E14A5;
$text-color: #1A1E2B;
$light-text-color: #fff;
$light-color: #FFF1D9;

// ### Primary

$marine-blue: hsl(213, 96%, 18%);
$purplish-blue: hsl(243, 100%, 62%);
$pastel-blue: hsl(228, 100%, 84%);
$light-blue: hsl(206, 94%, 87%);
$strawberry-red: hsl(354, 84%, 57%);

// ### Neutral

$cool-gray: hsl(231, 11%, 63%);
$light-gray: hsl(229, 24%, 87%);
$magnolia: hsl(217, 100%, 97%);
$alabaster: hsl(231, 100%, 99%);
$white: hsl(0, 0%, 100%);

// fonts
$body-font: 'Montserrat', sans-serif;
$heading-font: 'Montserrat', sans-serif;

// content widths
$content: 1300px;
$mobile: 1000px;
$side-margins: 16px;

$header-height: 64px;